<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Content</h3>
                        </div>
                        <!-- <div class="col-4 text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                  </div> -->
                    </div>
                </div>
                <div class="card-body">
                    <div class="col order-xl-2 mb-5 mb-xl-0">
                        <div class="card card-profile shadow">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">
                                    <div class="card-profile-image">
                                        <a href="javascript:void(0)">
                                            <img [src]="contentData.file" class="rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            </div>
                            <div class="card-body pt-0 pt-md-4">
                                <br><br>
                                <!-- <div class="row">
                              <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                  <div>
                                    <span class="heading"></span>
                                    <span class="description"></span>
                                  </div>
                                  <div>
                                    <span class="heading"></span>
                                    <span class="description"></span>
                                  </div>
                                  <div>
                                    <span class="heading"></span>
                                    <span class="description"></span>
                                  </div>
                                </div>
                              </div>
                            </div> -->
                                <hr class="my-4" />
                                <div class="text-center">
                                    <!-- <h2>
                                        James Philip Villanueva<span class="font-weight-light"></span>
                                    </h2> -->
                                    <input type="file" id="input-email" (change)="onFileSelected($event)"
                                        class="form-control form-control-alternative" accept="application/pdf">
                                    <br>
                                    <button class="btn btn-primary" (click)="saveChanges()"> Save Changes</button>
                                </div>
                                <hr class="my-4" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>